<%- include("partials/header"); %>

<div class="ui container grid">
    <div  class="sixteen wide column">
        <h1 style="text-align: center">שלום <%=currentUser.username%></h1>
          <h1 style="text-align: center"> ₪התקציב שלך הוא: <%=currentUser.money%></h1>
      </div>
      <div id="function-Button" class="sixteen wide column">
          <a href="/functions/take"><button id="functions-Buttons" class="large ui button">קח מוצר</button></a>
      </div>
      <div id="function-Button" class="sixteen wide column">
          <a href="/functions/watchWearhouse"><button id="functions-Buttons" class="large ui button">צפה במחסן</button></a>
      </div>
      <% if(currentUser.manager){ %>
      <div id="function-Button" class="sixteen wide column">
        <a href="/functions/add"><button id="functions-Buttons" class="large left ui button">הוסף/עדכן מוצר</button></a>
      </div>
      <div id="function-Button" class="sixteen wide column">
        <a href="/functions/remove"><button id="functions-Buttons" class="large left ui button">מחק מוצר</button></a>
      </div>
      <div id="function-Button" class="sixteen wide column">
          <a href="/functions/history"><button id="functions-Buttons" class="large left ui button">צפה ברשומות</button></a>
      </div>
      <div id="function-Button" class="sixteen wide column">
          <a href="/userHandle/register"><button id="functions-Buttons" class="large left ui button">הכנס משתמש חדש</button></a>
      </div>
      <div id="function-Button" class="sixteen wide column">
          <a href="/userHandle/showUsers"><button id="functions-Buttons" class="large left ui button">צפה במשתמשים</button></a>
      </div>
      <%}%>

</div>

<%- include("partials/footer"); %>